body {
    font-family: 'Montserrat', sans-serif;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: unset;
}



@media screen and (max-width: 1199px) {
    div.navbarInput {
        display: none;
    }
}

@media screen and (max-width: 991px) {

    input,
    select,
    textarea {
        max-width: 280px;
    }

    div.col-12.col-md-4.col-lg.navbarInput {
        display: none;
        padding-left: 0;
        padding-right: 0;
    }
}


@media screen and (max-width: 600px) {

    div.container div.row.mt-5.w-100 div.col-6.col-sm {
        text-align: left !important;
    }
}
